*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body{

height:100vh;
overflow:hidden;

display:flex;
align-items:center;
justify-content:center;

background:#020006;
color:white;

}



/* ===== ЖИВОЙ ФОН ===== */


.background{

position:fixed;

inset:-50%;


background:

radial-gradient(
circle at 20% 20%,
#ff008c,
transparent 30%
),

radial-gradient(
circle at 80% 30%,
#0055ff,
transparent 35%
),

radial-gradient(
circle at 50% 80%,
#00ffe7,
transparent 30%
),

radial-gradient(
circle at 90% 90%,
#7700ff,
transparent 25%
);


animation: galaxy 10s ease-in-out infinite alternate;


filter:blur(60px);

opacity:.9;

z-index:-2;

}



@keyframes galaxy{


0%{

transform:
translate(-5%,-5%)
scale(1);

}


100%{

transform:
translate(5%,5%)
scale(1.2);

}

}



/* дополнительные световые пятна */


body:before{

content:"";

position:fixed;

width:300px;
height:300px;

left:10%;
top:20%;


background:#ff00cc;

border-radius:50%;

filter:blur(120px);

animation:float 8s infinite;

z-index:-1;

}




body:after{

content:"";

position:fixed;

width:250px;
height:250px;

right:10%;
bottom:15%;


background:#00ffff;

border-radius:50%;

filter:blur(100px);

animation:float2 9s infinite;

z-index:-1;

}



@keyframes float{

50%{

transform:translate(80px,60px);

}

}



@keyframes float2{

50%{

transform:translate(-70px,-50px);

}

}





/* ===== КАРТОЧКА ===== */


.card{

width:430px;

padding:40px;

background:

rgba(0,0,0,.35);


border-radius:30px;


backdrop-filter:blur(25px);


border:

1px solid rgba(255,255,255,.2);


box-shadow:

0 0 80px rgba(255,0,150,.5);


text-align:center;


opacity:0;

transform:scale(.8);

transition:1s;

z-index:3;

}


.card.show{

opacity:1;

transform:scale(1);

}



.avatar{

width:150px;
height:150px;


border-radius:50%;

object-fit:cover;


border:3px solid white;


box-shadow:

0 0 50px #ff0099;


animation:pulse 3s infinite;

}



@keyframes pulse{

50%{

box-shadow:
0 0 90px #ff0099;

}

}




#enter{

position:absolute;

font-size:32px;

z-index:5;

cursor:pointer;

}



.hidden{

opacity:0;

pointer-events:none;

}



h1{

margin-top:20px;

font-size:38px;

}



h2{

font-size:14px;

color:#ddd;

}



p{

margin-top:20px;

line-height:1.6;

color:#eee;

}



.location{

margin-top:20px;

color:#bbb;

}

/* громкость */

.volume-box{

position:fixed;

top:25px;
left:25px;

z-index:20;


display:flex;

align-items:center;

gap:10px;


padding:12px 15px;


background:rgba(255,255,255,.12);

backdrop-filter:blur(15px);


border-radius:20px;


border:1px solid rgba(255,255,255,.2);


box-shadow:

0 0 30px rgba(255,0,150,.3);

}



#volumeBtn{

background:none;

border:none;

color:white;

font-size:25px;

cursor:pointer;

}



#volume{

width:100px;

cursor:pointer;

accent-color:#ff0099;

}
